.example-normal-1 {
	border-width: 1px 2px;
}

.example-normal-2 {
	border: 1px solid rebeccapurple;
}

.example-width-2-1 {
	border-width: * 1px;
}

.example-width-2-2 {
	border-width: 1px *;
}

.example-width-3-1 {
	border-width: * 1px 2px;
}

.example-width-3-2 {
	border-width: 1px * 2px;
}

.example-width-3-3 {
	border-width: 1px 2px *;
}

.example-width-4-1 {
	border-width: * 1px 2px 3px;
}

.example-width-4-2 {
	border-width: 1px * 2px 3px;
}

.example-width-4-3 {
	border-width: 1px 2px * 3px;
}

.example-width-4-4 {
	border-width: 1px 2px 3px *;
}

.example-style-2-1 {
	border-style: * solid;
}

.example-style-2-2 {
	border-style: solid *;
}

.example-color-2-1 {
	border-style: * rebeccapurple;
}

.example-color-2-1 {
	border-style: rebeccapurple *;
}

.example-1 {
	border: * * 1px / solid / rebeccapurple;
}

.example-2 {
	border: 1px / * * solid / rebeccapurple;
}

.example-3 {
	border: 1px / solid / * * rebeccapurple;
}
