.border-width-a {
	border-width: 1px *;
}

.border-width-b {
	border-width: * 1px;
}

.border-style-a {
	border-style: solid *;
}

.border-style-b {
	border-style: * solid;
}

.border-color-a {
	border-color: rebeccapurple *;
}

.border-color-b {
	border-color: * rebeccapurple;
}

.border-a {
	border: *;
}

.border-b {
	border: 1px * solid;
}

.border-c {
	border: 1px * rebeccapurple;
}

.border-d {
	border: solid * 1px;
}

.border-e {
	border: solid * rebeccapurple;
}

.border-f {
	border: rebeccapurple * 1px;
}

.border-g {
	border: rebeccapurple * solid;
}

.border-h {
	border: 1px * 0 ... solid rebeccapurple . . transparent;
}
