.border-width-a {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.border-width-b {
	border-right-width: 1px;
	border-left-width: 1px;
}

.border-style-a {
	border-top-style: solid;
	border-bottom-style: solid;
}

.border-style-b {
	border-right-style: solid;
	border-left-style: solid;
}

.border-color-a {
	border-top-color: rebeccapurple;
	border-bottom-color: rebeccapurple;
}

.border-color-b {
	border-right-color: rebeccapurple;
	border-left-color: rebeccapurple;
}

.border-a {
}

.border-b {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
}

.border-c {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: rebeccapurple;
}

.border-d {
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
}

.border-e {
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rebeccapurple;
}

.border-f {
	border-width: 1px;
	border-top-color: rebeccapurple;
	border-bottom-color: rebeccapurple;
}

.border-g {
	border-style: solid;
	border-top-color: rebeccapurple;
	border-bottom-color: rebeccapurple;
}

.border-h {
	border-top-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: rebeccapurple rebeccapurple rebeccapurple transparent;
}
