.border-width-a {
	-x-border-width: 1px *;
}

.border-width-b {
	-x-border-width: * 1px;
}

.border-style-a {
	-x-border-style: solid *;
}

.border-style-b {
	-x-border-style: * solid;
}

.border-color-a {
	-x-border-color: rebeccapurple *;
}

.border-color-b {
	-x-border-color: * rebeccapurple;
}

.border-a {
	-x-border: *;
}

.border-b {
	-x-border: 1px * solid;
}

.border-c {
	-x-border: 1px * rebeccapurple;
}

.border-d {
	-x-border: solid * 1px;
}

.border-e {
	-x-border: solid * rebeccapurple;
}

.border-f {
	-x-border: rebeccapurple * 1px;
}

.border-g {
	-x-border: rebeccapurple * solid;
}

.border-h {
	-x-border: 1px * 0 ... solid rebeccapurple . . transparent;
}
