.a-a {
	border: 1px;
}

.a-b {
	border: solid;
}

.a-c {
	border: rebeccapurple;
}

.b-a {
	border: 1px solid;
}

.b-b {
	border: 1px rebeccapurple;
}

.b-c {
	border: solid 1px;
}

.b-d {
	border: solid rebeccapurple;
}

.b-e {
	border: rebeccapurple 1px;
}

.b-f {
	border: rebeccapurple solid;
}

.c-a {
	border: 1px solid rebeccapurple;
}

.c-b {
	border: 1px rebeccapurple solid;
}

.c-c {
	border: solid 1px rebeccapurple;
}

.c-d {
	border: solid rebeccapurple 1px;
}

.c-e {
	border: rebeccapurple 1px solid;
}

.c-f {
	border: rebeccapurple solid 1px;
}
